*, *::before, *::after { box-sizing: border-box; padding: 0}

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --orange: #FF5630;
    --green: #36B37E;
    --grey: #474747;
    --white: #fcfcfc;
    --black: #000;
}

html {
    box-sizing: border-box;
    /* color-scheme: light dark; */
}

body {
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--black);
    line-height: 1.9;
    background-color: var(--white);
}

.container {
    padding: 2em 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}

img {
    max-width: 100%;
    transition: filter 0.5s;
}

.lazy-img {
    filter: blur(20px);
}

a, li, p, ul, h1, h2, h3, h4, h5, h6 {list-style: none; text-decoration: none; margin: 0; color: inherit;}

header {
    width: 85%;
    margin: 0 auto;
    height: 100vh;
}

/* navbar */
.nav {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
    height: 5rem;
}

.logo {
    margin-right: auto;
}

/* nav sticky */
.nav.sticky {
    position: sticky;
    background-color: rgba(255, 255, 255, 0.95);
}

.nav_list_group {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav_link:link,
.nav_link:visited {
    transition: all 0.3s;
}

.nav_item {
    color: var(--green);
    font-size: 1rem;
}

.nav_list_group-btns {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 5rem;
}

.nav_link-btns {
    background-color: var(--white);
    color: var(--green);
    padding: .7rem 1.2rem;
    border-radius: 10px;
    font-size: .85rem;
    border: 1px solid var(--green);
}

.nav_link-btns-getstart {
    background-color: var(--green);
    color: var(--white);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* hero section */
.hero_section {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.2;
    color: var(--green);
    width: 80%;
}

.orange-title {
    color: var(--orange);
}

.hero_subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
    width: 74%;
    margin: 1rem 0;
    color: var(--grey);
}

.btn {
    padding: .85rem 1.5rem;
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
}

.btn_containers {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.btn-started {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
    font-size: 1.25rem;
}

.btn-contribute {
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
    font-size: 1.25rem;
}

.hero_img {
    max-width: 45%;
}

/* section 1 - our why */

/* general section style */
.section {
    border-top: 1px solid #ddd;
    padding: 10rem 7.5%;
    margin: 0 auto;

    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section__header {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
}

.section_title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--green);
    text-align: center;
}

.section_subtitle {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--grey);
    padding: 0 19rem;
    margin-bottom: 2rem;
}

.why_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.why_flexbox {
    background-color: var(--white);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    padding: 2rem 3rem;
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 12px;
    margin-top: 2rem;
}

.why_icon {
    font-size: 1.5rem;
    color: var(--orange);
}

.why_flexbox-title {
    font-size: 1.3rem;
    margin: .5rem 0;
}

.why_flexbox-subtitle {
    font-size: 1rem;
}

/* section 2 - the core */
.core_container {
    margin-top: 2rem;
}

.core_container-flex {
    display: flex;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid red; */
}

.core_container-flex-top {
    margin-bottom: 3rem;
}

.core_flex-img-container {
    width: 50%;
    display: grid;
    place-items: center;
}

.core_img {
    max-width: 70%;
}

.core_flex-text {
    width: 50%;
    /* border: 1px solid green; */
    display: grid;
    place-items: center;
}

.core_title {
    font-size: 2rem;
    color: var(--orange);
    font-weight: 700;
    line-height: 1.4;
    width: 60%;
}

.core_subtitle {
    font-size: 1.25rem;
    width: 60%;
    margin-top: .5rem;
    line-height: 1.5;
}

/* section 3 - contribute */
.contribute_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.contribute_container-text {
    width: 60%;
    align-self:first baseline;
}

.contribute_subtitle {
    font-size: 1.25rem;
    color: var(--grey);
    font-weight: 400;
    margin-bottom: 1rem;
}

.get-involved {
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
}

.contribute_tab-container {
    display: flex;
    justify-content:space-around;
}

.contribute_btn {
    display: inline-block;
    font-family: inherit;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    padding: .7rem 2rem;
    background-color: var(--orange);
    color: var(--white);
    margin: 0;
}

.contribute_tab {
    transform: translateY(20%);
    transition: 300ms;
}

.contribute_tab-2 {
    background-color: var(--green);
}

.contribute_content {
    background-color: #fff;
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
    display: none;
    transition: 300ms;
}

.contribute_tab-active {
    display: block;
    transform: translateY(2%);
}

.contribute_content-active {
    display: block;
}

.contribute_header {
    font-size: 1.5rem;
    color: var(--orange);
}

.contribute_header-2 {
    color: var(--green);
}

.contribute_header-sub {
    font-size: 1rem;
    font-weight: 400;
}

.contribute_container-img {
    max-width: 30%;
}

/* get inspired section */



/* mobile responsiveness */
@media (max-width: 768px) {


    .overlay.active {
        display: block;
        height: 100vh;
    }

    .nav {
        background-color: var(--white);
    }

    .nav_list_group {
        position: fixed;
        font-weight: 500;
        font-size: 1rem;
        flex-direction: column;
        text-align: center;
        inset: 0;
        padding: 7rem 0 0 0;
        gap: 2rem;
        height: 100%;
        margin: 0;
        transition: 0.3s;
        transform: translateX(100%);
    }

    .nav_list_group.active{
        transform: translateX(0%);
        background-color: var(--white);
    }

    .nav_list_group-btns.active {
        transform: translateX(0%);
    }

    .nav_list_group-btns {
        display: block;
        margin: 0;
    }

    .nav_list_group-btns > .nav_item {
        margin-bottom: 3rem;
    }

    /* hamburger styling */
    .hamburger {
        display: block;
        z-index: 200;
    }

    .bar {
        display: block;
        background-color: var(--green);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* hero section */
    .hero_section {
        flex-direction: column;
        margin-top: 3rem;
    }

    .btn_containers {
        justify-content: space-around;
        margin-bottom: 2rem;
        margin-top: 1rem;
        gap: 1rem;
    }

    .hero_title {
        font-size: 3rem;
        text-align: center;
        width: 100%;
    }

    .hero_subtitle {
        font-size: .9rem;
        text-align: center;
        width: 100%;
    }

    .hero_img {
        max-width: 100%;
    }

    .section_subtitle {
        padding: 0;
    }

    .btn {
        font-size: 1rem;
    }

    .why_container {
        flex-direction: column;
    }

    .contribute_container {
        flex-direction: column-reverse;
    }

    .contribute_subtitle {
        width: 100%;
        font-size: 1rem;
    }

    .contribute_container-img {
        max-width: 100%;
    }

    .contribute_container-text {
        width: 100%;
    }
}